// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

  background-size: cover;
  background: url(https://source.unsplash.com/category/buildings/1600x1200/?new+york);
  color: white;
  font-family: 'Helvectica',sans-serif;
  padding: 10px;
  text-align: center;

}

.label {
  font-size: 24px;
  color: white;
}


div {
  padding: 10px
}

.member {
  font-size: 30px;

}

.name {
  text-align: center;
  font-size: 94px;
}

.slogan {
  text-align: center;
  font-size: 36px;
}

.sign-in{
  width: 700px;
  margin-left: 350px;
}

.signup {
  width: 631px;
  margin-left: 378px;
}

.user-info {
  text-align: center;
  font-size: 28px;
  padding: 20px;
}
